<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Apontamentos
      <ion-icon name="close" style="position: relative; float: right;" (click)="dismiss()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-list>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
      </ion-item>

      <ion-item>
        <div class="wrap-input100" style="padding: 0; color: black">
          <input class="input100" type="number" name="visity" placeholder="Número de Visitantes">
        </div>
      </ion-item>
      <ion-item>
        <div class="wrap-input100" style="padding: 0; color: black">
          <input class="input100" type="number" name="study" placeholder="Estudaram a lição">
        </div>
      </ion-item>
      <ion-item>
        <div class="wrap-input100" style="padding: 0; color: black">
          <input class="input100" type="number" name="contacts" placeholder="Contatos missionários">
        </div>
      </ion-item>
      <ion-item>
        <div class="wrap-input100" style="padding: 0; color: black">
          <input class="input100" type="number" name="pg" placeholder="Participara de PG">
        </div>
      </ion-item>
      <ion-item>

        <div class="wrap-input100" style="padding: 0; color: black">
          <input class="input100" type="number" name="activities" placeholder="Outras atividades">
        </div>
      </ion-item>
    </ion-list>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider color="light" style="font-weight: bold; margin-top: 10px; font-size: 16px; padding: 10px 15px">
      Presença</ion-item-divider>
    <ion-item>
      <ion-label>Ana da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Ana da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <div class="wrap-input100" style="padding: 0; color: black">
        <input class="input100" type="number" name="study" placeholder="Alunos presentes">
      </div>
    </ion-item>
  </ion-item-group>

  <div class="container-login100-form-btn m-t-32">
    <button class="login100-form-btn">
      Salvar
    </button>
  </div>

</ion-content>