<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Anúncios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgC_s54ilJZVcZ6ebsp_qRseA5QTKkHgXSMWDt8vadGkxCk1kg" />
    <ion-card-content>
      <ion-card-title>
        Dia do amigo
      </ion-card-title>
      <p>
        O dia do amigo será realizado no dia <b>17 de Jan</b>. Convide seus amigos para participar juntamente conosco.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxWOcPuAb7YRNcdGWCSisQ86gbmBpg9as9fjpaZvCk6QjTb-9m" />
    </div>
    <ion-card-content>
      <ion-card-title>
        Reunião da ES
      </ion-card-title>
      <p>
        A reunião dos professores e líderes da escola sabatina será realizada no dia <b>17 de Jan</b> onde discutiremos
        pontos importantes. Contamos com a sua presença.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSCG-oXki3968OqFpRmkJw1Ul08WXqVMboCi9LYulRnrAF9d4eL" />
    </div>
    <ion-card-content>
      <ion-card-title>
        Live da escola sabatina
      </ion-card-title>
      <p>
        A live da escola sabatina é realizada todos os sábados as 8h da manhã via instagram e facebook. Contamos com a
        sua participação.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>