<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Alunos
      <ion-icon name="add" style="position: relative; float: right;"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item-group>
    <ion-list>
      <ion-item *ngFor="let item of items" (click)="presentModalDetails(item)">
        <ion-avatar item-start>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRevGeBfAuyYO9T2W43-VEdhUq9ixayuD6Eajw_-6BCIbW39LgB">
        </ion-avatar>
        <span style="margin-left: 10px">{{item}}</span>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>