<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">A</ion-item-divider>

    <ion-item>
      <ion-label>Ana da Silva</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Ana da Silva</ion-label>
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">B</ion-item-divider>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Beatriz da Silva</ion-label>
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">C</ion-item-divider>

    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carolina da Silva</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>