<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logo.png" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Comunidade amiga</ion-card-subtitle>
      <ion-card-title style="font-weight: bold">Santa Mônica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Se o seu dom é servir, sirva; se é ensinar, ensine. Romanos 12:7</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
      <ion-label>Próximos aniversários</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
      <ion-label>Apontamentos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>