<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Juvenis
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card" style="padding: 10px;">
    <img src="/assets/logo.PNG" alt="" />
    <ion-card-header>
      <ion-card-subtitle style="letter-spacing: 1px;">Comunidade amiga</ion-card-subtitle>
      <ion-card-title style="font-weight: bold; letter-spacing: 1px;">Santa Mônica</ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="letter-spacing: 2px;">
      <p style="font-size: 12px;">Se o seu dom é servir, sirva; se é ensinar, ensine. Romanos 12:7</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-list lines="none">
    <ion-item (click)="presentModalBirthday()"
      style="border: solid rgb(214, 214, 214) 1px; border-radius: 15px; margin: 10px;">
      <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
      <ion-label style="letter-spacing: 1px;">Próximos aniversários</ion-label>
    </ion-item>
    <ion-item (click)="presentModalAppointments()"
      style="border: solid rgb(214, 214, 214) 1px; border-radius: 15px; margin: 10px;">
      <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
      <ion-label style="letter-spacing: 1px;">Apontamentos</ion-label>
    </ion-item>
  </ion-list> -->


  <ion-slides >
    <ion-slide *ngFor="let slide of slides">
      <ion-card>
        
        <img [src]="slide.image" class="slide-image"/>
        <ion-card-content>
          <ion-card-title>
            Dia do amigo
          </ion-card-title>
          <p>
            O dia do amigo será realizado no dia <b>17 de Jan</b>. Convide seus amigos para participar juntamente conosco.
          </p>
        </ion-card-content>
      </ion-card>
    
    </ion-slide>
    
  </ion-slides>

</ion-content>