<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Estastísticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.alura.com.br/artigos/assets/uploads/2018/05/image6-1.png" class="slide-image" />
  <img src="https://images.educamaisbrasil.com.br/content/banco_de_imagens/guia-de-estudo/D/tipos-de-graficos-matematica.jpg" class="slide-image" />
  <img src="https://www.milkpointradar.com.br/img/noticia/437" class="slide-image" />
</ion-content>