<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      Estastísticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmmnZbWjQeQ4sLmXHyED3jFzyAtY4a67HE5-1klXfelbhpuW8g">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9RXpSehEG04U8p6WIL4194hkwO-n73T-jxO3yp6Y7wUrsrZw0">
  <img src="https://online.visual-paradigm.com/repository/images/c89244e1-b953-4555-a3ed-ba63d5bf47f1.png">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSl2PVwu_2q389AiagSYZJP7VVZLcmoYxn5vsmQdShIHdbUAG_d">
</ion-content>