<ion-header>
  <ion-toolbar>
    <ion-title class="header-page-font">
      {{ user.name }}
      <ion-icon name="close" style="position: relative; float: right;" (click)="dismiss()"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h4>Telefone</h4>
    </ion-list-header>
    <ion-item style="margin-top: -15px">(34) 99166-1988</ion-item>
    <ion-list-header>
      <h4>Endereço</h4>
    </ion-list-header>
    <ion-item style="margin-top: -15px">Rua Pedro Álvares Cabral, 1785</ion-item>
    <ion-card class="adv-map">
      <div style="position: relative">
        <img src="assets/img/advance-card-map-paris.png">
      </div>
      <ion-item>
        <ion-icon color="subtle" large item-start name='information-circle'></ion-icon>
        <p style="margin-left: 5px">Rua Pedro Álvares Cabral, 1785</p>
      </ion-item>
      <ion-item actions>
        <span ion-text item-start color="secondary" class="item-bold">26 min</span>
        <span ion-text item-start color="subtle">(8.1 mi)</span>
        <button ion-button color="secondary" clear item-end icon-start>
          <ion-icon name='navigate'></ion-icon>
          Start
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>